@{ ViewData["Title"] = "Create Task"; }

<!--This script inclusion should be here only, because it enables summernote but does not glich the card expansion functionality!-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div id="container" style="padding: 2%">
    <h1 class="h3 mb-1 text-gray-800">Create Task</h1>
    <p class="mb-4">Create new task by setting it's attributes</p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">New task attributes</h6>
        </div>
        <div class="card-body">
            <form method="post" action="@Url.Action("CreateTask","Tasks")">
                <label for="tname"><b>Task name</b></label>
                <input type="text" class="form-control" placeholder="Enter Task Name" name="name" required>

                <label for="tdescription"><b>Task content</b></label>
                <textarea id="summernote" name="description"></textarea>

                <label for="ttype"><b>Select task type</b></label>
                <select id="taskTypes" name="taskTypes" class="form-control">
                    <option value="Select">Task type</option>
                </select>

                <label for="texpiration"><b>Finished until</b></label>
                <input type="date" class="form-control" placeholder="Enter Task Finish Date" name="expectedEndDate" required>
                <div class="my-2"></div>
                <input class="btn btn-primary" type="submit" value="Create" />
                <input class="btn btn-danger" onclick="window.location.href='/'" type="button" value="Cancel" />
            </form>
        </div>
    </div>
</div>

<!-- Task types options filler -->
<script type="text/javascript">$(function () {

        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Task description...',
                tabsize: 1,
                height: 100
            });
        });
        AjaxCall('/Tasks/GetTaskTypes', null).done(function (response) {
            if (response.length > 0) {
                $('#taskTypes').html('');
                var options = '';
                for (var i = 0; i < response.length; i++) {
                    options += '<option name="taskType" value="' + i + '" text="' + response[i] + '">' + response[i] + '</option>';
                }
                $('#taskTypes').append(options);

            }
        }).fail(function (error) {
            alert(error.StatusText);
        });

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
    });</script>

@ViewBag.Message