@{ ViewData["Title"] = "Login"; }


<body class="bg-gradient-primary">

<div class="container">

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-9 col-lg-9 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="user" form method="post" action="@Url.Action("Login","User")">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"
                                           id="username" name="username" aria-describedby="emailHelp"
                                           placeholder="Enter Username..." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                           id="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                                        <label class="custom-control-label" for="remember">
                                            Remember
                                            Me
                                        </label>
                                    </div>
                                </div>

                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }

                                <div class="text-center">

                                </div>
                                <input type="submit" value="Login" class="btn btn-primary btn-user btn-block" />

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/User/PasswordReset">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/User/Register">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
</body>
